@import url('styles.css');

/* ESTILIZANDO O BOTTOM */
*{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
}

.bottom_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-rosa-claro);
    padding-right: 80px;
    padding-left: 80px;
    height: 170px;
}

.bottom_banner_column {
    text-align: center;
}

.bottom_banner_column:hover {
    transition: all .2s;
    background-color: var(--cor-rosa-muito-claro);
    border-radius: 30px;
    cursor: pointer;
    color: var(--cor-vinho-escuro);
}

.bottom_banner_column:hover .bottom_banner_column_texto {
    color: var(--cor-vinho-escuro);
}


.bottom_banner_column_icon {
    display: block;
    margin: 5px auto;
    width: 50px;
}

.bottom_banner_column_texto {
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-branca);
    text-align: center;
    margin: 5px auto; 
    width: 80%; 
    line-height: 1.5; 
}


.bottom_produtos {
    background-color: var(--cor-rosa-muito-claro);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}


.produto_imagem_foto{
    width: 100%;
    height: auto;
}

.h1_destaques{
    background-color: var(--cor-rosa-muito-claro);
    color: var(--cor-vinho-escuro);
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 4rem;
    padding-bottom: 2rem;
    align-items: center;
    text-align: center;
}

.produto {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px; 
    border: 2px solid var(--cor-vinho-escuro); 
    border-radius: 20px;
}


.produto:hover{
    cursor:pointer;
    box-shadow: 2px 2px 2px 2px rgba(89, 8, 41, 0.3);
}

#produto_benmarco{
    width: 260px;
}

.produto_nome{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

.produto_preco{
    margin-top: 0;
    font-size: 20px;
}

.botao_adicionar {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 250px;
    padding: 0.8rem;
    border-radius: 24px;
    background: var(--cor-vinho-escuro);
    color: var(--cor-branca);
    transition: all .3s;
 
    margin-bottom: 5px;
}

.botao_adicionar:hover {
    box-shadow: 2px 2px 2px 2px rgba(89, 8, 41, 0.3);
}