@import url('styles.css');

/* ESTILIZANDO O RODAPE */

.rodape {
    padding: 1rem;
    background-color: var(--cor-vinho-escuro);
    display: flex;
    justify-content: space-between;
    color: var(--cor-branca);
}

.rodape_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape_column_header {
    margin-bottom: 0.25rem;
}

.rodape_column_body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rodape_column_top {
    margin-bottom: 0.25rem; 
}

.rodape_column_body_texto {
    color: var(--cor-branca);
    text-decoration: none;
    margin-bottom: 0.25rem;     
    margin-left: 0.5rem;
}

.monograma_rodape{
    width: 110px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: -3;
}

.rodape_column{
    margin-right: 100px;
}