@import url('styles.css');

/* TIRANDO A BORDA */

html, body {
    margin: 0;
}

/* TRAZENDO A FONTE */

@font-face {
    font-family: 'Montserrat';
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

*{
    font-family: 'Montserrat', sans-serif;
}

/* ESTILIZANDO O MAIN */

main{
    background-color: var(--cor-rosa-muito-claro);
}

.main_home {
    display: flex;
    padding: 2rem 2rem;
    align-items: flex-start; 
}

.main_home a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--cor-branca);
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: 24px;
    background: var(--cor-vinho-escuro);
    transition: all .3s;
    text-align: left;
}

.main_home_E {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 3rem 2rem 2rem; 
    width: 60%;
    align-items: center;
}

.main_home_texto{
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-vinho-escuro);
    align-items: left;
    font-size: 1.55rem;
    padding: 1.2rem;
    text-align: justify;
}

.main_home_D_foto{
    border-radius: 30px;
    width: 148%;
    margin-left: 10px;
}

.main_home_logo_titulo {
    margin-left: -34rem; 
    margin-top: -185px;
    margin-bottom: -128px;
}

.main_home_ancora{
    margin-top: -5px;
}   

.main_home_ancora:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.85;
}

.faixa {
    background-color: var(--cor-vinho-escuro);
    width: 100%;
    height: 107px;
    color: var(--cor-branca);
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa_p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

.main_button_ancora {
    background-color: var(--cor-rosa-muito-claro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_button_ancora a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--cor-branca);
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: 24px;
    background: var(--cor-rosa-claro);
    transition: all .3s;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 3px;
}


::-webkit-scrollbar-track {
    background-color: var(--cor-rosa-muito-claro); 
}


::-webkit-scrollbar-thumb {
    background-color: var(--cor-vinho-escuro);
}

.top-main {
    margin: 0;
    background-color: var(--cor-rosa-muito-claro);
}

.img-top {
    background-color: var(--cor-rosa-muito-claro);
    margin-bottom: 0;
}

.titulo-top {
    background-color: var(--cor-rosa-muito-claro);
    margin-bottom: 0; 
}


.titulo-h3 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    background: var(--cor-rosa-muito-claro);
    font-size: 30px;
    word-wrap: break-word; 
    color: var(--cor-vinho-escuro);
    margin-bottom: 0; 
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: bold;
}

.main_contatos_ {
    background-color: var(--cor-rosa-muito-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    gap: 110px;
}

.img_contatos {
    width: 550px;
    border-radius: 33px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_main {
    color: var(--cor-vinho-escuro);
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 27.5px;
    margin-top: -33px;
    margin-bottom: 66px;
}

.shadowbox {
    width: 550px;
    padding: 22px;
    background-color: var(--cor-rosa-claro);
    border-radius: 33px;
    color: var(--cor-vinho-escuro);
    margin-top: -44px;
}

.shadowbox div {
    margin-bottom: 22px;
}

input, button {
    width: 110%;
    height: 44px;
    border-radius: 33px;
    border: none;
    padding: 5.5px;
    margin-top: 5.5px;
}

.button {
    border-radius: 44px;
    background-color: var(--cor-vinho-escuro);
    color: white;
    cursor: pointer;
    margin-top: 33px;
    width: 200px;
    margin-left: 184px;
}

.mensagem{
    height: 154px;
    width: 539px;
    font-weight: bold;
}

.input_nome, .input_email{
    height: 77px;
    width: 539px;
    font-weight: bold;
}

.input_nome::placeholder,
.input_email::placeholder,
.mensagem::placeholder {
    text-align: center;
    color: var(--cor-rosa-muito-claro);
    font-size: 20px;
}
